<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>:title:</title>
</head>
<body>
    <table>
        <tr>
            <td>
                <a href=":homepagelink:">
                    <img src=":logo:" border="0" alt="" />
                </a>
            </td>
            <td align="right">
                <a href=":loginlink:">Login</a>
            </td>
        </tr>
        <tr>
            <td>
                <br />
                <br />
                <br />
            </td>
        </tr>
        <tr>
            <td>
                :name:,
            </td>
        </tr>
        <tr>
            <td>
                This email was sent in response to your request to reset your password. To reset
                your password and access your account, click on the link below.
                <br />
                <br />
            </td>
        </tr>
        <tr>
            <td>
                <a href=":link:">Click here to reset your password</a>
                <br />
                <br />
            </td>
        </tr>
        <tr>
            <td>
                If you did not request that we send this Forgotten Password email to you, please
                report this email to us at:
                <br />
                :supportemail:
                <br />
                <br />
                Thank you for using :companyname:!
                <br />
                <br />
            </td>
        </tr>
      
        <tr>
            <td>
                Please add &lt;:supportemail:&gt; to your address book to ensure delivery
                of our emails to your inbox.
                <br />
                <br />
            </td>
        </tr>
        <tr>
            <td>
                :companyname:, LLC. | All Rights Reserved.<br />
                <!--business address-->
                <br />
                <!--<a href="#">Privacy Policy Link</a> | <a href="#">Terms and Conditions</a>-->
            </td>
        </tr>
    </table>
</body>
</html>
