<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>:title:</title>
</head>
<body>
    <table>
        <tr>
            <td>
                <a href=":homepagelink:">
                    <img src=":logo:" border="0" alt="" />
                </a>
            </td>
            <td align="right">
                <a href=":loginlink:">Login</a>
            </td>
        </tr>
        <tr>
            <td>
                <br />
                <br />
                <br />
            </td>
        </tr>
        <tr>
            <td>
                Hello :name:,
            </td>
        </tr>
        <tr>
            <td>
                You are just one more click away from becoming a valued customer of CentsAndDimes.com!
            </td>
        </tr>
        <tr>
            <td>
                Click on the link below to activate your account and begin easily managing your
                properties with :companyname:.
                <br />
                <br />
                <a href=":link:">Verify Account</a>
                <br />
                <br />
            </td>
        </tr>
        <tr>
            <td>
                Thank you for using :companyname:!
            </td>
        </tr>
        <tr>
            <td>
                <b>Note:</b> :companyname: will never ask you for your bank account or password
                information via email.<br />
                <br />
                <br />
            </td>
        </tr>
        <tr>
            <td>
                Please add &lt;:supportemail:&gt; to your address book to ensure delivery
                of our emails to your inbox.
                <br />
                <br />
            </td>
        </tr>
        <tr>
            <td>
                :companyname:, LLC. | All Rights Reserved.<br />
                business address
                <br />
                <!--<a href="#">Privacy Policy Link</a> | <a href="#">Terms and Conditions</a>-->
            </td>
        </tr>
    </table>

</body>
</html>
