.vs
ExacoreApp/.angular
ExacoreApp/android
ExacoreApp/www
ExacoreApp/node_modules

ExacoreAdmin/.angular
ExacoreAdmin/dist
ExacoreAdmin/node_modules

ExacoreApi/.vs
ExacoreApi/packages
ExacoreApi/ConsoleApp/bin
ExacoreApi/ConsoleApp/obj
ExacoreApi/ConsoleAppCore/bin
ExacoreApi/ConsoleAppCore/obj
ExacoreApi/Exacore/bin
ExacoreApi/Exacore/obj