<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="main-panel">
            <div class="content-wrapper d-flex align-items-center auth">
                <div class="row w-100">
                    <div class="col-lg-4 mx-auto">
                        <div class="auth-form-light text-left p-5">
                            <div class="brand-logo">
                                <img src="../../../../assets/forms/logo.png" alt="logo">
                            </div>
                            <h4>Account is not active</h4>
                            <form *ngIf="!emailSent && error.length == 0">
                                <div class="form-group">
                                    <label>
                                        You have not activated your account. Please use the link in the email to
                                        verify your account.</label>
                                </div>
                                <div class="form-group">
                                    <label>
                                        Did not receive the email? </label>

                                    <a class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn"
                                        (click)="resendVerification()" href="javascript:void(0)">Re-Send Email</a>
                                </div>
                            </form>

                            <form *ngIf="emailSent && error.length > 0">
                                <div class="form-group">
                                    <label style="color: red;">
                                        Oops something went wrong. Please try logging in or contacting
                                        support</label>
                                </div>
                            </form>

                            <form *ngIf="emailSent && error.length == 0">
                              Account activation email sent
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>