<div class="main-wrapper">
    <header class="header">
        <div class="logo"><img src="../../../../assets/forms/logo.png" /></div>
        <div class="title">
            <h1>INCIDENT ALERT</h1>
        </div>
    </header>
    <div class="page">
        <div class="form-content">
            <div class="x-inputgroup-row">
                <div class="x-inputgroup">
                    <div class="x-input xinp-incident-date">
                        <p><span>I</span>ncident <span>D</span>ate</p>
                        <div class="x-inputtext">
                            {{incidentAlert.date | date: 'MM/dd/yyyy'}}
                        </div>
                    </div>
                    <div class="x-input xinp-incident-time">
                        <p><span>I</span>ncident <span>T</span>ime</p>
                        <div class="x-inputtext">
                            {{incidentAlert.time | date: 'hh:mm a' }}
                        </div>
                    </div>
                    <div class="x-input xinp-project-num">
                        <p><span>P</span>roject <span>#</span></p>
                        <div class="x-inputtext">
                            {{incidentAlert.project.name}}
                        </div>
                    </div>
                    <div class="x-input xinp-location">
                        <p><span>E</span>quipment / <span>I</span>ncident <span>L</span>ocation</p>
                        <div class="x-inputtext">
                            {{incidentAlert.equipmentIncidentLocation}}
                        </div>
                    </div>
                </div>
                <div class="x-inputgroup">
                    <div class="x-input xinp-alert-type">
                        <p class="x-green"><span>A</span>lert <span>T</span>ype</p>
                        <div class="x-inputtext">
                            {{incidentAlert.alertTime.name}}
                        </div>
                    </div>
                    <div class="x-input xinp-project-name">
                        <p><span>P</span>roject <span>N</span>ame</p>
                        <div class="x-inputtext">
                            {{incidentAlert.alertTime.name}}
                        </div>
                    </div>
                </div>
                <div class="x-inputgroup">
                    <div class="x-input xinp-supervisor">
                        <p><span>S</span>upervisor</p>
                        <div class="x-inputtext">
                            {{incidentAlert.supervisor}}
                        </div>
                    </div>
                    <div class="x-input xinp-job-title">
                        <p><span>I</span>nvolved <span>J</span>ob <span>T</span>itle</p>
                        <div class="x-inputtext">
                            {{incidentAlert.involvedJobTitle}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="x-divider"></div>

            <div class="x-inputgroup-row">
                <div class="x-inputgroup">
                    <div class="x-input ">
                        <p><span>I</span>ncident <span>D</span>escription</p>
                        <div class="x-inputtextarea">
                            {{incidentAlert.incidentDescription}}
                        </div>
                    </div>
                </div>
                <div class="x-inputgroup">
                    <div class="x-input ">
                        <p><span>I</span>mmediate <span>A</span>ction <span>T</span>aken</p>
                        <div class="x-inputtextarea">
                            {{incidentAlert.immediateActionTaken}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="x-inputgroup-row input-prepared">
                <div class="x-inputgroup">
                    <div class="x-input xinp-preparedby">
                        <p><span>P</span>repared <span>B</span>y:</p>
                        <div class="x-inputtext"></div>
                    </div>
                    <div class="x-input xinp-date">
                        <p><span>D</span>ate:</p>
                        <div class="x-inputtext"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer"></footer>
</div>