.hrs {
    border-bottom: 3px solid #2BC224;
}

.top-menu-text {
    color: #2BC224;
    float:right;
    padding-right: 5px;
    padding-bottom: 15px;
    font-size: large;
    vertical-align: bottom;
    // position: absolute;
    bottom: 0;
}

.right {
    float: right;
}