<div class="main-wrapper">
    <header class="header">
        <div class="logo"><img src="../../../../assets/forms/logo.png" /></div>
        <div class="title">
            <h1>MOTORIZED EQUIPMENT AND TELEHANDLER INSPECTION</h1>
        </div>
    </header>
    <div class="page">
        <div class="form-content">

            <div class="x-inputgroup-row">
                <div class="x-inputgroup">
                    <div class="x-inpuntinline">
                        <div class="x-input">
                            <p>Model:</p>
                            <div class="x-inputtext">
                                <input type="text" name="time" style="width: 100%;"
                                    [(ngModel)]="motorizedEquipment.model">
                            </div>
                        </div>
                    </div>
                    <div class="x-inpuntinline">
                        <div class="x-input">
                            <p>Hour meter:</p>
                            <div class="x-inputtext">
                                <input type="text" name="time" style="width: 100%;"
                                    [(ngModel)]="motorizedEquipment.hourMeter">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="x-inputgroup-row">
                <div class="x-inputgroup">
                    <div class="x-inpuntinline">
                        <div class="x-input">
                            <p>Inspected by:</p>
                            <div class="x-inputtext">
                                <input type="text" name="time" style="width: 100%;"
                                    [(ngModel)]="motorizedEquipment.inspectedBy">
                            </div>
                        </div>
                    </div>
                    <div class="x-inpuntinline">
                        <div class="x-input">
                            <p>Date:</p>
                            <div class="x-inputtext">
                                <input type="date" name="date" [ngModel]="motorizedEquipment.date | date:'yyyy-MM-dd'"
                                    style="width: 200px;" (ngModelChange)="motorizedEquipment.date = $event" type="date"
                                    name="startDate">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="x-form-sheet">
                <div class="xfs-head">
                    <div><span>N</span>o</div>
                    <div><span>O</span>perational Inspection</div>
                    <div><span>Y</span>es</div>
                    <div><span>N</span>o</div>
                    <div><span>N/A</span></div>
                    <div><span>D</span>escription</div>
                </div>

                <div class="xfs-cell-row">
                    <div class="xfs-cell-col">
                        <div class="x-inputcount">1</div>
                    </div>
                    <div class="xfs-cell-col">
                        <div class="x-inputlabel">Headlights operational</div>
                    </div>
                    <div class="xfs-cell-col"><span class="x-checkbox">
                            <input type="radio" name="headlights" value="yes"
                                [(ngModel)]="motorizedEquipment.operationalInspection.headlights.yesNoNa">
                        </span></div>
                    <div class="xfs-cell-col"><span class="x-checkbox">
                            <input type="radio" name="headlights" value="no"
                                [(ngModel)]="motorizedEquipment.operationalInspection.headlights.yesNoNa">
                        </span></div>
                    <div class="xfs-cell-col"><span class="x-checkbox">
                            <input type="radio" name="headlights" value="na"
                                [(ngModel)]="motorizedEquipment.operationalInspection.headlights.yesNoNa">
                        </span></div>
                    <div class="xfs-cell-col">
                        <div class="">
                            <input type="text" name="headlightsd" style="width: 100%;"
                                [(ngModel)]="motorizedEquipment.operationalInspection.headlights.description">
                        </div>
                    </div>
                </div>
                <div class="xfs-cell-row">
                    <div class="xfs-cell-col">
                        <div class="x-inputcount">2</div>
                    </div>
                    <div class="xfs-cell-col">
                        <div class="x-inputlabel">Reverse lights operational</div>
                    </div>
                    <div class="xfs-cell-col"><span class="x-checkbox">
                            <input type="radio" name="reverseLights" value="yes"
                                [(ngModel)]="motorizedEquipment.operationalInspection.reverseLights.yesNoNa">
                        </span></div>
                    <div class="xfs-cell-col"><span class="x-checkbox">
                            <input type="radio" name="reverseLights" value="no"
                                [(ngModel)]="motorizedEquipment.operationalInspection.reverseLights.yesNoNa">
                        </span></div>
                    <div class="xfs-cell-col"><span class="x-checkbox">
                            <input type="radio" name="reverseLights" value="na"
                                [(ngModel)]="motorizedEquipment.operationalInspection.reverseLights.yesNoNa">
                        </span></div>
                    <div class="xfs-cell-col">
                        <div class="">
                            <input type="text" name="reverseLightsd" style="width: 100%;"
                                [(ngModel)]="motorizedEquipment.operationalInspection.reverseLights.description">
                        </div>
                    </div>
                </div>
                <div class="xfs-cell-row">
                    <div class="xfs-cell-col">
                        <div class="x-inputcount">3</div>
                    </div>
                    <div class="xfs-cell-col">
                        <div class="x-inputlabel">Running lights operational</div>
                    </div>
                    <div class="xfs-cell-col"><span class="x-checkbox">
                            <input type="radio" name="runningLights" value="yes"
                                [(ngModel)]="motorizedEquipment.operationalInspection.runningLights.yesNoNa">
                        </span></div>
                    <div class="xfs-cell-col"><span class="x-checkbox">
                            <input type="radio" name="runningLights" value="no"
                                [(ngModel)]="motorizedEquipment.operationalInspection.runningLights.yesNoNa">
                        </span></div>
                    <div class="xfs-cell-col"><span class="x-checkbox">
                            <input type="radio" name="runningLights" value="na"
                                [(ngModel)]="motorizedEquipment.operationalInspection.runningLights.yesNoNa">
                        </span></div>
                    <div class="xfs-cell-col">
                        <div class="">
                            <input type="text" name="runningLightsd" style="width: 100%;"
                                [(ngModel)]="motorizedEquipment.operationalInspection.runningLights.description">
                        </div>
                    </div>
                </div>
                <div class="xfs-cell-row">
                    <div class="xfs-cell-col">
                        <div class="x-inputcount">4</div>
                    </div>
                    <div class="xfs-cell-col">
                        <div class="x-inputlabel">Parking brake operational</div>
                    </div>
                    <div class="xfs-cell-col"><span class="x-checkbox">
                            <input type="radio" name="parkingBrake" value="yes"
                                [(ngModel)]="motorizedEquipment.operationalInspection.parkingBrake.yesNoNa">
                        </span></div>
                    <div class="xfs-cell-col"><span class="x-checkbox">
                            <input type="radio" name="parkingBrake" value="no"
                                [(ngModel)]="motorizedEquipment.operationalInspection.parkingBrake.yesNoNa">
                        </span></div>
                    <div class="xfs-cell-col"><span class="x-checkbox">
                            <input type="radio" name="parkingBrake" value="na"
                                [(ngModel)]="motorizedEquipment.operationalInspection.parkingBrake.yesNoNa">
                        </span></div>
                    <div class="xfs-cell-col">
                        <div class="">
                            <input type="text" name="parkingBraked" style="width: 100%;"
                                [(ngModel)]="motorizedEquipment.operationalInspection.parkingBrake.description">
                        </div>
                    </div>
                </div>
                <div class="xfs-cell-row">
                    <div class="xfs-cell-col">
                        <div class="x-inputcount">5</div>
                    </div>
                    <div class="xfs-cell-col">
                        <div class="x-inputlabel">Battery gauge operational</div>
                    </div>
                    <div class="xfs-cell-col"><span class="x-checkbox">
                            <input type="radio" name="batteryGauge" value="yes"
                                [(ngModel)]="motorizedEquipment.operationalInspection.batteryGauge.yesNoNa">
                        </span></div>
                    <div class="xfs-cell-col"><span class="x-checkbox">
                            <input type="radio" name="batteryGauge" value="no"
                                [(ngModel)]="motorizedEquipment.operationalInspection.batteryGauge.yesNoNa">
                        </span></div>
                    <div class="xfs-cell-col"><span class="x-checkbox">
                            <input type="radio" name="batteryGauge" value="na"
                                [(ngModel)]="motorizedEquipment.operationalInspection.batteryGauge.yesNoNa">
                        </span></div>
                    <div class="xfs-cell-col">
                        <div class="">
                            <input type="text" name="batteryGauged" style="width: 100%;"
                                [(ngModel)]="motorizedEquipment.operationalInspection.batteryGauge.description">
                        </div>
                    </div>
                </div>
                <div class="xfs-cell-row">
                    <div class="xfs-cell-col">
                        <div class="x-inputcount">6</div>
                    </div>
                    <div class="xfs-cell-col">
                        <div class="x-inputlabel">Water level gauge operational</div>
                    </div>
                    <div class="xfs-cell-col"><span class="x-checkbox">
                            <input type="radio" name="waterLevelGauge" value="yes"
                                [(ngModel)]="motorizedEquipment.operationalInspection.waterLevelGauge.yesNoNa">
                        </span></div>
                    <div class="xfs-cell-col"><span class="x-checkbox">
                            <input type="radio" name="waterLevelGauge" value="no"
                                [(ngModel)]="motorizedEquipment.operationalInspection.waterLevelGauge.yesNoNa">
                        </span></div>
                    <div class="xfs-cell-col"><span class="x-checkbox">
                            <input type="radio" name="waterLevelGauge" value="na"
                                [(ngModel)]="motorizedEquipment.operationalInspection.waterLevelGauge.yesNoNa">
                        </span></div>
                    <div class="xfs-cell-col">
                        <div class="">
                            <input type="text" name="waterLevelGauged" style="width: 100%;"
                                [(ngModel)]="motorizedEquipment.operationalInspection.waterLevelGauge.description">
                        </div>
                    </div>
                </div>
                <div class="xfs-cell-row">
                    <div class="xfs-cell-col">
                        <div class="x-inputcount">7</div>
                    </div>
                    <div class="xfs-cell-col">
                        <div class="x-inputlabel">Temperature gauge operational</div>
                    </div>
                    <div class="xfs-cell-col"><span class="x-checkbox">
                            <input type="radio" name="temperatureGauge" value="yes"
                                [(ngModel)]="motorizedEquipment.operationalInspection.temperatureGauge.yesNoNa">
                        </span></div>
                    <div class="xfs-cell-col"><span class="x-checkbox">
                            <input type="radio" name="temperatureGauge" value="no"
                                [(ngModel)]="motorizedEquipment.operationalInspection.temperatureGauge.yesNoNa">
                        </span></div>
                    <div class="xfs-cell-col"><span class="x-checkbox">
                            <input type="radio" name="temperatureGauge" value="na"
                                [(ngModel)]="motorizedEquipment.operationalInspection.temperatureGauge.yesNoNa">
                        </span></div>
                    <div class="xfs-cell-col">
                        <div class="">
                            <input type="text" name="temperatureGauged" style="width: 100%;"
                                [(ngModel)]="motorizedEquipment.operationalInspection.temperatureGauge.description">
                        </div>
                    </div>
                </div>

                <div class="xfs-cell-row">
                    <div class="xfs-cell-col">
                        <div class="x-inputcount">9</div>
                    </div>
                    <div class="xfs-cell-col">
                        <div class="x-inputlabel">Oil level gauge operational</div>
                    </div>
                    <div class="xfs-cell-col"><span class="x-checkbox">
                            <input type="radio" name="oilLevelGauge" value="yes"
                                [(ngModel)]="motorizedEquipment.operationalInspection.oilLevelGauge.yesNoNa">
                        </span></div>
                    <div class="xfs-cell-col"><span class="x-checkbox">
                            <input type="radio" name="oilLevelGauge" value="no"
                                [(ngModel)]="motorizedEquipment.operationalInspection.oilLevelGauge.yesNoNa">
                        </span></div>
                    <div class="xfs-cell-col"><span class="x-checkbox">
                            <input type="radio" name="oilLevelGauge" value="na"
                                [(ngModel)]="motorizedEquipment.operationalInspection.oilLevelGauge.yesNoNa">
                        </span></div>
                    <div class="xfs-cell-col">
                        <div class="">
                            <input type="text" name="oilLevelGauged" style="width: 100%;"
                                [(ngModel)]="motorizedEquipment.operationalInspection.oilLevelGauge.description">
                        </div>
                    </div>
                </div>
                <div class="xfs-cell-row">
                    <div class="xfs-cell-col">
                        <div class="x-inputcount">10</div>
                    </div>
                    <div class="xfs-cell-col">
                        <div class="x-inputlabel">Fuel level gauge operational</div>
                    </div>
                    <div class="xfs-cell-col"><span class="x-checkbox">
                            <input type="radio" name="fuelLevelGauge" value="yes"
                                [(ngModel)]="motorizedEquipment.operationalInspection.fuelLevelGauge.yesNoNa">
                        </span></div>
                    <div class="xfs-cell-col"><span class="x-checkbox">
                            <input type="radio" name="fuelLevelGauge" value="no"
                                [(ngModel)]="motorizedEquipment.operationalInspection.fuelLevelGauge.yesNoNa">
                        </span></div>
                    <div class="xfs-cell-col"><span class="x-checkbox">
                            <input type="radio" name="fuelLevelGauge" value="na"
                                [(ngModel)]="motorizedEquipment.operationalInspection.fuelLevelGauge.yesNoNa">
                        </span></div>
                    <div class="xfs-cell-col">
                        <div class="">
                            <input type="text" name="fuelLevelGauged" style="width: 100%;"
                                [(ngModel)]="motorizedEquipment.operationalInspection.fuelLevelGauge.description">
                        </div>
                    </div>
                </div>
                <div class="xfs-cell-row">
                    <div class="xfs-cell-col">
                        <div class="x-inputcount">11</div>
                    </div>
                    <div class="xfs-cell-col">
                        <div class="x-inputlabel">Horn operational</div>
                    </div>
                    <div class="xfs-cell-col"><span class="x-checkbox">
                            <input type="radio" name="horn" value="yes"
                                [(ngModel)]="motorizedEquipment.operationalInspection.horn.yesNoNa">
                        </span></div>
                    <div class="xfs-cell-col"><span class="x-checkbox">
                            <input type="radio" name="horn" value="no"
                                [(ngModel)]="motorizedEquipment.operationalInspection.horn.yesNoNa">
                        </span></div>
                    <div class="xfs-cell-col"><span class="x-checkbox">
                            <input type="radio" name="horn" value="na"
                                [(ngModel)]="motorizedEquipment.operationalInspection.horn.yesNoNa">
                        </span></div>
                    <div class="xfs-cell-col">
                        <div class="">
                            <input type="text" name="hornd" style="width: 100%;"
                                [(ngModel)]="motorizedEquipment.operationalInspection.horn.description">
                        </div>
                    </div>
                </div>
                <div class="xfs-cell-row">
                    <div class="xfs-cell-col">
                        <div class="x-inputcount">12</div>
                    </div>
                    <div class="xfs-cell-col">
                        <div class="x-inputlabel">Reverse signal operational</div>
                    </div>
                    <div class="xfs-cell-col"><span class="x-checkbox">
                            <input type="radio" name="reverseSignal" value="yes"
                                [(ngModel)]="motorizedEquipment.operationalInspection.reverseSignal.yesNoNa">
                        </span></div>
                    <div class="xfs-cell-col"><span class="x-checkbox">
                            <input type="radio" name="reverseSignal" value="no"
                                [(ngModel)]="motorizedEquipment.operationalInspection.reverseSignal.yesNoNa">
                        </span></div>
                    <div class="xfs-cell-col"><span class="x-checkbox">
                            <input type="radio" name="reverseSignal" value="na"
                                [(ngModel)]="motorizedEquipment.operationalInspection.reverseSignal.yesNoNa">
                        </span></div>
                    <div class="xfs-cell-col">
                        <div class="">
                            <input type="text" name="reverseSignald" style="width: 100%;"
                                [(ngModel)]="motorizedEquipment.operationalInspection.reverseSignal.description">
                        </div>
                    </div>
                </div>
                <div class="xfs-cell-row">
                    <div class="xfs-cell-col">
                        <div class="x-inputcount">13</div>
                    </div>
                    <div class="xfs-cell-col">
                        <div class="x-inputlabel">Brakes operational</div>
                    </div>
                    <div class="xfs-cell-col"><span class="x-checkbox">
                            <input type="radio" name="brakes" value="yes"
                                [(ngModel)]="motorizedEquipment.operationalInspection.brakes.yesNoNa">
                        </span></div>
                    <div class="xfs-cell-col"><span class="x-checkbox">
                            <input type="radio" name="brakes" value="no"
                                [(ngModel)]="motorizedEquipment.operationalInspection.brakes.yesNoNa">
                        </span></div>
                    <div class="xfs-cell-col"><span class="x-checkbox">
                            <input type="radio" name="brakes" value="na"
                                [(ngModel)]="motorizedEquipment.operationalInspection.brakes.yesNoNa">
                        </span></div>
                    <div class="xfs-cell-col">
                        <div class="">
                            <input type="text" name="brakesd" style="width: 100%;"
                                [(ngModel)]="motorizedEquipment.operationalInspection.brakes.description">
                        </div>
                    </div>
                </div>
                <div class="xfs-cell-row">
                    <div class="xfs-cell-col">
                        <div class="x-inputcount">14</div>
                    </div>
                    <div class="xfs-cell-col">
                        <div class="x-inputlabel">Seat belt operational</div>
                    </div>
                    <div class="xfs-cell-col"><span class="x-checkbox">
                            <input type="radio" name="seatBelt" value="yes"
                                [(ngModel)]="motorizedEquipment.operationalInspection.seatBelt.yesNoNa">
                        </span></div>
                    <div class="xfs-cell-col"><span class="x-checkbox">
                            <input type="radio" name="seatBelt" value="no"
                                [(ngModel)]="motorizedEquipment.operationalInspection.seatBelt.yesNoNa">
                        </span></div>
                    <div class="xfs-cell-col"><span class="x-checkbox">
                            <input type="radio" name="seatBelt" value="na"
                                [(ngModel)]="motorizedEquipment.operationalInspection.seatBelt.yesNoNa">
                        </span></div>
                    <div class="xfs-cell-col">
                        <div class="">
                            <input type="text" name="seatBeltd" style="width: 100%;"
                                [(ngModel)]="motorizedEquipment.operationalInspection.seatBelt.description">
                        </div>
                    </div>
                </div>
                <div class="xfs-cell-row">
                    <div class="xfs-cell-col">
                        <div class="x-inputcount">15</div>
                    </div>
                    <div class="xfs-cell-col">
                        <div class="x-inputlabel">Chains inspected</div>
                    </div>
                    <div class="xfs-cell-col"><span class="x-checkbox">
                            <input type="radio" name="chains" value="yes"
                                [(ngModel)]="motorizedEquipment.operationalInspection.chains.yesNoNa">
                        </span></div>
                    <div class="xfs-cell-col"><span class="x-checkbox">
                            <input type="radio" name="chains" value="no"
                                [(ngModel)]="motorizedEquipment.operationalInspection.chains.yesNoNa">
                        </span></div>
                    <div class="xfs-cell-col"><span class="x-checkbox">
                            <input type="radio" name="chains" value="na"
                                [(ngModel)]="motorizedEquipment.operationalInspection.chains.yesNoNa">
                        </span></div>
                    <div class="xfs-cell-col">
                        <div class="">
                            <input type="text" name="chainsd" style="width: 100%;"
                                [(ngModel)]="motorizedEquipment.operationalInspection.chains.description">
                        </div>
                    </div>
                </div>
                <div class="xfs-cell-row">
                    <div class="xfs-cell-col">
                        <div class="x-inputcount">16</div>
                    </div>
                    <div class="xfs-cell-col">
                        <div class="x-inputlabel">Hydraulic outriggers operational</div>
                    </div>
                    <div class="xfs-cell-col"><span class="x-checkbox">
                            <input type="radio" name="hydraulicOutriggers" value="yes"
                                [(ngModel)]="motorizedEquipment.operationalInspection.hydraulicOutriggers.yesNoNa">
                        </span></div>
                    <div class="xfs-cell-col"><span class="x-checkbox">
                            <input type="radio" name="hydraulicOutriggers" value="no"
                                [(ngModel)]="motorizedEquipment.operationalInspection.hydraulicOutriggers.yesNoNa">
                        </span></div>
                    <div class="xfs-cell-col"><span class="x-checkbox">
                            <input type="radio" name="hydraulicOutriggers" value="na"
                                [(ngModel)]="motorizedEquipment.operationalInspection.hydraulicOutriggers.yesNoNa">
                        </span></div>
                    <div class="xfs-cell-col">
                        <div class="">
                            <input type="text" name="hydraulicOutriggersd" style="width: 100%;"
                                [(ngModel)]="motorizedEquipment.operationalInspection.hydraulicOutriggers.description">
                        </div>
                    </div>
                </div>
                <div class="xfs-cell-row">
                    <div class="xfs-cell-col">
                        <div class="x-inputcount">17</div>
                    </div>
                    <div class="xfs-cell-col">
                        <div class="x-inputlabel">Hydraulic tilt operational</div>
                    </div>
                    <div class="xfs-cell-col"><span class="x-checkbox">
                            <input type="radio" name="hydraulicTilt" value="yes"
                                [(ngModel)]="motorizedEquipment.operationalInspection.hydraulicTilt.yesNoNa">
                        </span></div>
                    <div class="xfs-cell-col"><span class="x-checkbox">
                            <input type="radio" name="hydraulicTilt" value="no"
                                [(ngModel)]="motorizedEquipment.operationalInspection.hydraulicTilt.yesNoNa">
                        </span></div>
                    <div class="xfs-cell-col"><span class="x-checkbox">
                            <input type="radio" name="hydraulicTilt" value="na"
                                [(ngModel)]="motorizedEquipment.operationalInspection.hydraulicTilt.yesNoNa">
                        </span></div>
                    <div class="xfs-cell-col">
                        <div class="">
                            <input type="text" name="hydraulicTiltd" style="width: 100%;"
                                [(ngModel)]="motorizedEquipment.operationalInspection.hydraulicTilt.description">
                        </div>
                    </div>
                </div>
                <div class="xfs-cell-row">
                    <div class="xfs-cell-col">
                        <div class="x-inputcount">18</div>
                    </div>
                    <div class="xfs-cell-col">
                        <div class="x-inputlabel">Hydraulic side shift available</div>
                    </div>
                    <div class="xfs-cell-col"><span class="x-checkbox">
                            <input type="radio" name="hydraulicSideShift" value="yes"
                                [(ngModel)]="motorizedEquipment.operationalInspection.hydraulicSideShift.yesNoNa">
                        </span></div>
                    <div class="xfs-cell-col"><span class="x-checkbox">
                            <input type="radio" name="hydraulicSideShift" value="no"
                                [(ngModel)]="motorizedEquipment.operationalInspection.hydraulicSideShift.yesNoNa">
                        </span></div>
                    <div class="xfs-cell-col"><span class="x-checkbox">
                            <input type="radio" name="hydraulicSideShift" value="na"
                                [(ngModel)]="motorizedEquipment.operationalInspection.hydraulicSideShift.yesNoNa">
                        </span></div>
                    <div class="xfs-cell-col">
                        <div class="">
                            <input type="text" name="hydraulicSideShiftd" style="width: 100%;"
                                [(ngModel)]="motorizedEquipment.operationalInspection.hydraulicSideShift.description">
                        </div>
                    </div>
                </div>
                <div class="xfs-cell-row">
                    <div class="xfs-cell-col">
                        <div class="x-inputcount">19</div>
                    </div>
                    <div class="xfs-cell-col">
                        <div class="x-inputlabel">Engine oil level full</div>
                    </div>
                    <div class="xfs-cell-col"><span class="x-checkbox">
                            <input type="radio" name="engineOilLevel" value="yes"
                                [(ngModel)]="motorizedEquipment.operationalInspection.engineOilLevel.yesNoNa">
                        </span></div>
                    <div class="xfs-cell-col"><span class="x-checkbox">
                            <input type="radio" name="engineOilLevel" value="no"
                                [(ngModel)]="motorizedEquipment.operationalInspection.engineOilLevel.yesNoNa">
                        </span></div>
                    <div class="xfs-cell-col"><span class="x-checkbox">
                            <input type="radio" name="engineOilLevel" value="na"
                                [(ngModel)]="motorizedEquipment.operationalInspection.engineOilLevel.yesNoNa">
                        </span></div>
                    <div class="xfs-cell-col">
                        <div class="">
                            <input type="text" name="engineOilLeveld" style="width: 100%;"
                                [(ngModel)]="motorizedEquipment.operationalInspection.engineOilLevel.description">
                        </div>
                    </div>
                </div>
                <div class="xfs-cell-row">
                    <div class="xfs-cell-col">
                        <div class="x-inputcount">20</div>
                    </div>
                    <div class="xfs-cell-col">
                        <div class="x-inputlabel">Hydraulic oil level full</div>
                    </div>
                    <div class="xfs-cell-col"><span class="x-checkbox">
                            <input type="radio" name="hydraulicOilLevel" value="yes"
                                [(ngModel)]="motorizedEquipment.operationalInspection.hydraulicOilLevel.yesNoNa">
                        </span></div>
                    <div class="xfs-cell-col"><span class="x-checkbox">
                            <input type="radio" name="hydraulicOilLevel" value="no"
                                [(ngModel)]="motorizedEquipment.operationalInspection.hydraulicOilLevel.yesNoNa">
                        </span></div>
                    <div class="xfs-cell-col"><span class="x-checkbox">
                            <input type="radio" name="hydraulicOilLevel" value="na"
                                [(ngModel)]="motorizedEquipment.operationalInspection.hydraulicOilLevel.yesNoNa">
                        </span></div>
                    <div class="xfs-cell-col">
                        <div class="">
                            <input type="text" name="hydraulicOilLeveld" style="width: 100%;"
                                [(ngModel)]="motorizedEquipment.operationalInspection.hydraulicOilLevel.description">
                        </div>
                    </div>
                </div>
                <div class="xfs-cell-row">
                    <div class="xfs-cell-col">
                        <div class="x-inputcount">21</div>
                    </div>
                    <div class="xfs-cell-col">
                        <div class="x-inputlabel">Steering controls operational</div>
                    </div>
                    <div class="xfs-cell-col"><span class="x-checkbox">
                            <input type="radio" name="steeringControls" value="yes"
                                [(ngModel)]="motorizedEquipment.operationalInspection.steeringControls.yesNoNa">
                        </span></div>
                    <div class="xfs-cell-col"><span class="x-checkbox">
                            <input type="radio" name="steeringControls" value="no"
                                [(ngModel)]="motorizedEquipment.operationalInspection.steeringControls.yesNoNa">
                        </span></div>
                    <div class="xfs-cell-col"><span class="x-checkbox">
                            <input type="radio" name="steeringControls" value="na"
                                [(ngModel)]="motorizedEquipment.operationalInspection.steeringControls.yesNoNa">
                        </span></div>
                    <div class="xfs-cell-col">
                        <div class="">
                            <input type="text" name="steeringControlsd" style="width: 100%;" name="steeringControlsd"
                                [(ngModel)]="motorizedEquipment.operationalInspection.steeringControls.description">
                        </div>
                    </div>
                </div>

                <div class="xfs-head">
                    <div><span>N</span>o</div>
                    <div><span>D</span>amage Inspection</div>
                    <div><span>Y</span>es</div>
                    <div><span>N</span>o</div>
                    <div><span>N/A</span></div>
                    <div><span>D</span>escription</div>
                </div>

                <div class="xfs-cell-row">
                    <div class="xfs-cell-col">
                        <div class="x-inputcount">22</div>
                    </div>
                    <div class="xfs-cell-col">
                        <div class="x-inputlabel">Leaks detected</div>
                    </div>
                    <div class="xfs-cell-col"><span class="x-checkbox">
                            <input type="radio" name="leaksDetected" value="yes"
                                [(ngModel)]="motorizedEquipment.damageInspection.leaksDetected.yesNoNa">
                        </span></div>
                    <div class="xfs-cell-col"><span class="x-checkbox">
                            <input type="radio" name="leaksDetected" value="no"
                                [(ngModel)]="motorizedEquipment.damageInspection.leaksDetected.yesNoNa">
                        </span></div>
                    <div class="xfs-cell-col"><span class="x-checkbox">
                            <input type="radio" name="leaksDetected" value="na"
                                [(ngModel)]="motorizedEquipment.damageInspection.leaksDetected.yesNoNa">
                        </span></div>
                    <div class="xfs-cell-col">
                        <div class="">
                            <input type="text" name="leaksDetectedd" style="width: 100%;" name="steeringControlsd"
                                [(ngModel)]="motorizedEquipment.damageInspection.leaksDetected.description">
                        </div>
                    </div>
                </div>
                <div class="xfs-cell-row">
                    <div class="xfs-cell-col">
                        <div class="x-inputcount">23</div>
                    </div>
                    <div class="xfs-cell-col">
                        <div class="x-inputlabel">Tires and wheels (damaged)</div>
                    </div>
                    <div class="xfs-cell-col"><span class="x-checkbox">
                            <input type="radio" name="tiresAndWheels" value="yes"
                                [(ngModel)]="motorizedEquipment.damageInspection.tiresAndWheels.yesNoNa">
                        </span></div>
                    <div class="xfs-cell-col"><span class="x-checkbox">
                            <input type="radio" name="tiresAndWheels" value="no"
                                [(ngModel)]="motorizedEquipment.damageInspection.tiresAndWheels.yesNoNa">
                        </span></div>
                    <div class="xfs-cell-col"><span class="x-checkbox">
                            <input type="radio" name="tiresAndWheels" value="na"
                                [(ngModel)]="motorizedEquipment.damageInspection.tiresAndWheels.yesNoNa">
                        </span></div>
                    <div class="xfs-cell-col">
                        <div class="">
                            <input type="text" name="tiresAndWheelsd" style="width: 100%;" name="steeringControlsd"
                                [(ngModel)]="motorizedEquipment.damageInspection.tiresAndWheels.description">
                        </div>
                    </div>
                </div>
                <div class="xfs-cell-row">
                    <div class="xfs-cell-col">
                        <div class="x-inputcount">24</div>
                    </div>
                    <div class="xfs-cell-col">
                        <div class="x-inputlabel">Forks (bent, damaged)</div>
                    </div>
                    <div class="xfs-cell-col"><span class="x-checkbox">
                            <input type="radio" name="forks" value="yes"
                                [(ngModel)]="motorizedEquipment.damageInspection.forks.yesNoNa">
                        </span></div>
                    <div class="xfs-cell-col"><span class="x-checkbox">
                            <input type="radio" name="forks" value="no"
                                [(ngModel)]="motorizedEquipment.damageInspection.forks.yesNoNa">
                        </span></div>
                    <div class="xfs-cell-col"><span class="x-checkbox">
                            <input type="radio" name="forks" value="na"
                                [(ngModel)]="motorizedEquipment.damageInspection.forks.yesNoNa">
                        </span></div>
                    <div class="xfs-cell-col">
                        <div class="">
                            <input type="text" name="forksd" style="width: 100%;" name="steeringControlsd"
                                [(ngModel)]="motorizedEquipment.damageInspection.forks.description">
                        </div>
                    </div>
                </div>
                <div class="xfs-cell-row">
                    <div class="xfs-cell-col">
                        <div class="x-inputcount">25</div>
                    </div>
                    <div class="xfs-cell-col">
                        <div class="x-inputlabel">Attachments (<small>water level, caps, leaks, damaged</small>)</div>
                    </div>
                    <div class="xfs-cell-col"><span class="x-checkbox">
                            <input type="radio" name="attachments" value="yes"
                                [(ngModel)]="motorizedEquipment.damageInspection.attachments.yesNoNa">
                        </span></div>
                    <div class="xfs-cell-col"><span class="x-checkbox">
                            <input type="radio" name="attachments" value="no"
                                [(ngModel)]="motorizedEquipment.damageInspection.attachments.yesNoNa">
                        </span></div>
                    <div class="xfs-cell-col"><span class="x-checkbox">
                            <input type="radio" name="attachments" value="na"
                                [(ngModel)]="motorizedEquipment.damageInspection.attachments.yesNoNa">
                        </span></div>
                    <div class="xfs-cell-col">
                        <div class="">
                            <input type="text" name="attachmentsd" style="width: 100%;" name="steeringControlsd"
                                [(ngModel)]="motorizedEquipment.damageInspection.attachments.description">
                        </div>
                    </div>
                </div>
                <div class="xfs-cell-row">
                    <div class="xfs-cell-col">
                        <div class="x-inputcount">26</div>
                    </div>
                    <div class="xfs-cell-col">
                        <div class="x-inputlabel">Battery connectors (damages, cracks)</div>
                    </div>
                    <div class="xfs-cell-col"><span class="x-checkbox">
                            <input type="radio" name="batteryConnectors" value="yes"
                                [(ngModel)]="motorizedEquipment.damageInspection.batteryConnectors.yesNoNa">
                        </span></div>
                    <div class="xfs-cell-col"><span class="x-checkbox">
                            <input type="radio" name="batteryConnectors" value="no"
                                [(ngModel)]="motorizedEquipment.damageInspection.batteryConnectors.yesNoNa">
                        </span></div>
                    <div class="xfs-cell-col"><span class="x-checkbox">
                            <input type="radio" name="batteryConnectors" value="na"
                                [(ngModel)]="motorizedEquipment.damageInspection.batteryConnectors.yesNoNa">
                        </span></div>
                    <div class="xfs-cell-col">
                        <div class="">
                            <input type="text" name="batteryConnectorsd" style="width: 100%;" name="steeringControlsd"
                                [(ngModel)]="motorizedEquipment.damageInspection.batteryConnectors.description">
                        </div>
                    </div>
                </div>
                <div class="xfs-cell-row">
                    <div class="xfs-cell-col">
                        <div class="x-inputcount">27</div>
                    </div>
                    <div class="xfs-cell-col">
                        <div class="x-inputlabel">Guards (back, rest, overhead)</div>
                    </div>
                    <div class="xfs-cell-col"><span class="x-checkbox">
                            <input type="radio" name="guards" value="yes"
                                [(ngModel)]="motorizedEquipment.damageInspection.guards.yesNoNa">
                        </span></div>
                    <div class="xfs-cell-col"><span class="x-checkbox">
                            <input type="radio" name="guards" value="no"
                                [(ngModel)]="motorizedEquipment.damageInspection.guards.yesNoNa">
                        </span></div>
                    <div class="xfs-cell-col"><span class="x-checkbox">
                            <input type="radio" name="guards" value="na"
                                [(ngModel)]="motorizedEquipment.damageInspection.guards.yesNoNa">
                        </span></div>
                    <div class="xfs-cell-col">
                        <div class="">
                            <input type="text" name="guardsd" style="width: 100%;" name="steeringControlsd"
                                [(ngModel)]="motorizedEquipment.damageInspection.guards.description">
                        </div>
                    </div>
                </div>
                <div class="xfs-cell-row">
                    <div class="xfs-cell-col">
                        <div class="x-inputcount">28</div>
                    </div>
                    <div class="xfs-cell-col">
                        <div class="x-inputlabel">Safety devices (shields, guards damaged)</div>
                    </div>
                    <div class="xfs-cell-col"><span class="x-checkbox">
                            <input type="radio" name="safetyDevices" value="yes"
                                [(ngModel)]="motorizedEquipment.damageInspection.safetyDevices.yesNoNa">
                        </span></div>
                    <div class="xfs-cell-col"><span class="x-checkbox">
                            <input type="radio" name="safetyDevices" value="no"
                                [(ngModel)]="motorizedEquipment.damageInspection.safetyDevices.yesNoNa">
                        </span></div>
                    <div class="xfs-cell-col"><span class="x-checkbox">
                            <input type="radio" name="safetyDevices" value="na"
                                [(ngModel)]="motorizedEquipment.damageInspection.safetyDevices.yesNoNa">
                        </span></div>
                    <div class="xfs-cell-col">
                        <div class="">
                            <input type="text" name="safetyDevicesd" style="width: 100%;" name="steeringControlsd"
                                [(ngModel)]="motorizedEquipment.damageInspection.safetyDevices.description">
                        </div>
                    </div>
                </div>
                <div class="xfs-cell-row">
                    <div class="xfs-cell-col">
                        <div class="x-inputcount">29</div>
                    </div>
                    <div class="xfs-cell-col">
                        <div class="x-inputlabel">Propane tank lines (detect gases, vapors)</div>
                    </div>
                    <div class="xfs-cell-col"><span class="x-checkbox">
                            <input type="radio" name="propaneTankLines" value="yes"
                                [(ngModel)]="motorizedEquipment.damageInspection.propaneTankLines.yesNoNa">
                        </span></div>
                    <div class="xfs-cell-col"><span class="x-checkbox">
                            <input type="radio" name="propaneTankLines" value="no"
                                [(ngModel)]="motorizedEquipment.damageInspection.propaneTankLines.yesNoNa">
                        </span></div>
                    <div class="xfs-cell-col"><span class="x-checkbox">
                            <input type="radio" name="propaneTankLines" value="na"
                                [(ngModel)]="motorizedEquipment.damageInspection.propaneTankLines.yesNoNa">
                        </span></div>
                    <div class="xfs-cell-col">
                        <div class="">
                            <input type="text" name="propaneTankLines" style="width: 100%;" name="steeringControlsd"
                                [(ngModel)]="motorizedEquipment.damageInspection.propaneTankLines.description">
                        </div>
                    </div>
                </div>
                <div class="xfs-cell-row">
                    <div class="xfs-cell-col">
                        <div class="x-inputcount">30</div>
                    </div>
                    <div class="xfs-cell-col">
                        <div class="x-inputlabel"></div>
                    </div>
                    <div class="xfs-cell-col"><span class="x-checkbox"></span></div>
                    <div class="xfs-cell-col"><span class="x-checkbox"></span></div>
                    <div class="xfs-cell-col"><span class="x-checkbox"></span></div>
                    <div class="xfs-cell-col">
                        <div class="x-inputtext"></div>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="row">
                <button class="btn btn-sm btn-primary pull-right" (click)="save()">
                    Save
                </button>
                <div class="pull-right col-2">
                    <button class="btn btn-sm btn-default pull-right" (click)="cancel()">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer"></footer>
</div>