.btn-google {
  color: white !important;
  background-color: #ea4335;
}


.top-menu-text {
  color: #2BC224;
  float: right;
  padding-right: 5px;
  padding-right: 15px;
  font-size: large;
}

.ex-text {
  color: #2BC224;
  font-size: large;
}